.pagi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    li {
        margin: 1rem;
        list-style: none;
        padding:8px 12px;
        cursor: pointer;
        
        
    }
    

    .active{
        background-color: aqua;
        padding:8px 12px
    }
}